.container-for-each-serviciu {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.flat-list-container :hover {
    cursor: pointer;
    color: black;
    border-color: white;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.container-entire-page {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-progress-bar {
    width: 50vw;
    margin-top: 18vh;
}

.container-selected {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}
