.container-for-each-serviciu {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.flat-list-container :hover {
    cursor: pointer;
    color: black;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border: solid 1px cadetblue;
    border-radius: 50px;
}

.calendarContainer {
    display: flex;
    flex-direction: row;
}

.programContainer {
    display: block;
}

.container-entire-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.container-progress-bar {
    width: 50vw;
    margin-top: 5vh;
}

.container-selected {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    border-radius: 50px;
}

.container-frizeri {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.container-frizeri:hover {
    cursor: pointer;
}

.container-frizer-selected {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    border-radius: 50px;
}

.oraCalendarFrizer {
    justify-content: center;
    width: 20vw;
    display: flex;
}

.oraCalendarFrizerSelected {
    justify-content: center;
    width: 20vw;
    display: flex;
    /*justify-content: space-between;*/
    background-color: cadetblue;
    border-radius: 50px;
}
