.navbar {
    background-color: transparent;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    margin-top: 30px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.span:hover {
    cursor: pointer;
    color: darkgrey;
}

.span {
    margin-right: 30px;
    color: black;
    text-decoration: transparent;
}

